<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">username</th>
        <th scope="col">email</th>
        <th scope="col">password</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.usernane }}</td>
        <td>{{ user.mail }}</td>
        <td>{{ user.password }}</td>
        <td><a href="mailto:{{ user.mail }}">{{ user.mail }}</a></td>
      </tr>
      </tbody>
    </table>
    <hr class="my-no w-100">
    <app-custom-pagination
      [page]="page"
      (nextPageEvent)="getNextPage()"
      (previousPageEvent)="getPreviousPage()"
      (pageSizeEvent)="getPageInNewSize($event)">
    </app-custom-pagination>

  </div>
</div>
